:root {
    --color1: #F6F0EF;
    --color2: #31211c;
    --color3: #c08c59;
}

body {
    background-color: var(--color1);
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4px;
}

nav {
    background-color: #31211c;
    -webkit-box-shadow:0 4px 3px rgba(25, 17, 13, .7);
    -moz-box-shadow:0 4px 3px rgba(25, 17, 13, .7);
    box-shadow:0 4px 3px rgba(25, 17, 13, .7);
    /* -webkit-box-shadow:0 4px 3px rgba(255, 51, 153);
    -moz-box-shadow:0 4px 3px rgba(255, 51, 153);
    box-shadow:0 4px 3px rgba(255, 51, 153); */
}
.nav-container {
    display: flex; 
    justify-content: center; 
}

#tb {
    color: #c08c59;
    font-size: 2.5em;
    text-decoration: none;
    margin-right: 45px;
    padding-top: 12px;
    letter-spacing: 1px;
    /* font-family: 'Arizonia', cursive; */
    font-family: 'Arvo', serif;
}

 nav a:not(:first-child) {
    color: white;
    text-decoration: none;
    margin-right: 45px;
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    transition: .6s;
    color: #D3B048;
}

.logo {
    width: 125px;
    margin-right: 45px;
}

.img-container {
    background-color: #f6f0ef;
}

.main-pic {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}

.call-to-action {
    margin-top: -4px;
    background-color: #4d4d4d;
    color: white;
}

.call-to-action h2 {
    padding-top: 40px;
    margin-top: 0px;
}

.call-to-action .btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #D3B048;
    border-radius: 0.6em;
    color: #D3B048;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    width: 230px;
    margin-bottom: 40px;
  }
  .call-to-action .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .call-to-action .btn {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .call-to-action .btn:hover {
    box-shadow: 0 0 40px 40px #D3B048 inset;
  }

  .bot-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color1);
  }

  .schedule {
      display: flex;
      height: auto;
  }

  .calendar-note {
    margin-right: 15px;
  }

  .calendar-note p {
      margin-bottom: 0px;
  }

  .date {
      margin-top: 28%;
  }

  /* .calendar-note {
    background-color: #F2F2F2;
  } */

  .year, .time {
      margin-top: 7px;
  }

  .year {
      background-color: var(--color3);
      color: white;
  }

  .event-description, .buynow {
    margin-top: 25px;
  }
  
  .buynow {
      margin-left: 30px;
  }

  .buynow h3 {
    margin-top: 0;
  }

  .schedule h3 {
    margin-top: 0;
  }

  .schedule-addons-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color1);
  }

  .schedule-addons {
    margin-right: 42px;
  }

  /* Footer */

 .footer {
    background-color: var(--color2);
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer p {
    align-self: center;
    margin: 0 auto;
    color: white;
    letter-spacing: 2px;
  }

  .footer p a{
      color: white;
  }
  
  .created {
    font-size: 1em;
  }
  
  .copyright {
    
    font-size: .8em;
  } 