nav {
    background-color: $color-primary-dark;
    -webkit-box-shadow:0 4px 3px rgba(25, 17, 13, .7);
    -moz-box-shadow:0 4px 3px rgba(25, 17, 13, .7);
    box-shadow:0 4px 3px rgba(25, 17, 13, .7);
    /* -webkit-box-shadow:0 4px 3px rgba(255, 51, 153);
    -moz-box-shadow:0 4px 3px rgba(255, 51, 153);
    box-shadow:0 4px 3px rgba(255, 51, 153); */
    /* position: fixed;
    width: 100%; */
}
.nav-container {
    display: flex; 
    justify-content: center; 
}


#tb {
    color: $color-primary-light;
    font-size: 2.5em;
    text-decoration: none;
    margin-right: 45px;
    /* padding-top: 12px; */
    letter-spacing: 1px;
    font-weight: 100;
    
}

 /* nav a:not(:first-child) {
    color: white;
    text-decoration: none;
    margin-right: 45px;
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 1em;
    letter-spacing: 1px;
} */

#bootstrap-override nav a:hover {
    transition: .4s;
    color: $color-primary-light;
}

#bootstrap-override .nav-link{
    color: white;
    text-transform: uppercase;
}

.logo {
    width: 125px;
    margin-right: 45px;
}

/* Dropdown Button */
#top-a {
    color: black;
    text-decoration: none;
    margin-right: 45px;
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 1em;
    letter-spacing: 1px;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: .4s;
  }
  
  /* Links inside the dropdown */
  #bootstrap-override .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: .8em;
    margin-right: 0px;
  }


  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* #bootstrap-override .dropdown:hover .dropbtn {color: $color-primary-light;} */

  .navbar-collapse {
    margin-top: 6px;
  }

  @media only screen and (max-width : 382px) {
    .navbar-toggler {
        padding: 0;
    }
    #tb {
        font-size: 2em;
    }
  }