.img-container {
    background-color: #f6f0ef; /* $color-white */
    /* height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(243, 144, 79, 0.6),
        rgba(59, 67, 113, 0.6)),
    url(../img/tb1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path:  polygon(0 0,100% 0, 100% 75vh, 0 100%); */
}

.main-pic {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}



  .bot-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-primary;
  }

  .schedule {
      display: flex;
      height: auto;
  }

  .calendar-note {
    margin-right: 15px;
  }

  .calendar-note p {
      margin-bottom: 0px;
  }

  .date {
      margin-top: 28%;
  }

  /* .calendar-note {
    background-color: #F2F2F2;
  } */

  .year, .time {
      margin-top: 7px;
  }

  .year {
      background-color: $color-primary-light;
      color: white;
  }

  .event-description, .buynow {
    margin-top: 25px;
  }
  
  .buynow {
      margin-left: 30px;
  }

  .buynow h3 {
    margin-top: 0;
  }

  .schedule h3 {
    margin-top: 0;
  }

  .schedule-addons-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: $color-primary;
  }

  .schedule-addons {
    margin-right: 42px;
  }